{% extends 'lesonaHome.html' %}
{% block lesonaContent %}
<h4>{{title}} <a href="{% url 'ajoutContentLesona' title.id %}">  Ajouter sous-titre </a></h4>
{{currentSubtitle}}
<div>
    {% for sousTitre in sousTitres %}
    
        <div>
        <Strong>{{sousTitre}} <a href="{% url 'ajoutContentLesona' sousTitre.id %}">Modifier </a></Strong>
            {% for content in contents %}
                {% if content.sousTitre == sousTitre %}
                    <div>
                        <Strong>{{content.tokoSyAndininy}} </Strong> 
                        <div>{{content.fanazavana}}</div>
                    </div>
                {% endif %}
            {% endfor %}    
    </div>
            
    {% endfor %}
    
    

{% endblock %}